<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
  <script type="text/javascript" th:fragment="javascript">

    $(document).ready(function(){
      console.log("Document is ready");

   
      $("#search_product").autocomplete({
          source: function(request, response) {
              console.log("Search term: ", request.term);

              $.ajax({
                url: "/invoice/upload-products", 
                dataType: "json",
                data: {
                    term: request.term 
                },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label: item.name, 
                            value: item.id,  
                            price: item.price
                        };
                    }));
                }
            });
          },
          select: function(event, ui) {
              console.log("Selected item: ", ui.item);
            //  $("#search_product").val(ui.item.label);  
            let line = $("#templateItemsInvoice").html();
            line = line.replace(/{ID}/g, ui.item.value);
            line = line.replace(/{NAME}/g, ui.item.label);
            line = line.replace(/{PRICE}/g, ui.item.price);

            $("#uploadItemProducts tbody").append(line);
            itemsHelper.calculateImport(ui.item.value, ui.item.price, 1);
              return false;  
          },
          focus: function(event, ui) {
              $("#search_product").val(ui.item.label);
              return false;
          }
      });
    })

    let itemsHelper = {
      calculateImport: function(id, price, quantity){
        $("#total_import_" + id).html(parseInt(price) * parseInt(quantity)); 
      }
    };
  </script>  
</body>
</html>