<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UFT-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Springboot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/list}">Clients</a>
            </li>
          </ul>
        </div>
      </nav>

    <h1 th:text="${title}"></h1>
    <form th:action="@{/form}" th:object="${client}" method="post">
        <table>
             <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" th:errorclass="'form-control alert-danger'"/></td>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">This field can't be empty</small>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}" th:errorclass="'form-control alert-danger'"/></td>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">This field can't be empty </small>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}" th:errorclass="'form-control alert-danger'"/> </td>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">This field can't be empty</small>
            </tr>
            <tr>          
                <td>Date</td>
                <td><input type="text" th:field="*{createAt}" th:errorclass="'form-control alert-danger'" /> </td>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}">This fiel can't be empty</small>
            </tr>
            <tr>
                <td><input type="submit" value="Create client"/> </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{id}"/>
    </form>
</body>
</html>